.ptb-1{
    padding-top: 1rem;
    padding-bottom: 1rem;  
}
.ptb-2{
    padding-top: 2rem;
    padding-bottom: 2rem;  
}
.ptb-3{
    padding-top: 3rem;
    padding-bottom: 3rem;  
}
a:focus {
    box-shadow:none !important;
}